/* stylePrepaCmd.css */

.scroll-pane {
    -fx-background-color: transparent;
}

.vbox {
    -fx-spacing: 5px; /* Espace entre les enfants de VBox */
}

.label-header {
    -fx-font-size: 18px;
    -fx-padding-top: 0px;

}

.table-view {
    -fx-border-color: #ececec; /* Couleur de bordure de la TableView */
}
.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10px 0px 0px 10px;
    -fx-pref-width: 300px;
    -fx-text-fill: #ed6637;


}

.table-column {
    -fx-alignment: center-left;

}

.list-view {
    -fx-border-color: #0a5098; /* Couleur de bordure de la ListView */
}

.return-button{
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
}


